Course Human-Centered Data Science ([HCDS](https://www.mi.fu-berlin.de/en/inf/groups/hcc/teaching/winter_term_2020_21/course_human_centered_data_science.html)) - Winter Term 2020/21 - [HCC](https://www.mi.fu-berlin.de/en/inf/groups/hcc/index.html) | [Freie Universität Berlin](https://www.fu-berlin.de/)

***

# A2 - Wikipedia, ORES, and Bias in Data
Please follow the reproducability workflow as practiced during the last exercise.

## Step 1⃣ | Data acquisition

You will use two data sources: (1) Wikipedia articles of politicians and (2) world population data.

**Wikipedia articles -**
The Wikipedia articles can be found on [Figshare](https://figshare.com/articles/Untitled_Item/5513449). It contains politicians by country from the English-language wikipedia. Please read through the documentation for this repository, then download and unzip it to extract the data file, which is called `page_data.csv`.

**Population data -**
The population data is available in `CSV` format in the `_data` folder. The file is named `export_2019.csv`. This dataset is drawn from the [world population datasheet](https://www.prb.org/international/indicator/population/table/) published by the Population Reference Bureau (downloaded 2020-11-13 10:14 AM). I have edited the dataset to make it easier to use in this assignment. The population per country is given in millions!

## Step 2⃣ | Data processing and cleaning
The data in `page_data.csv` contain some rows that you will need to filter out. It contains some page names that start with the string `"Template:"`. These pages are not Wikipedia articles, and should not be included in your analysis. The data in `export_2019.csv` does not need any cleaning.

***

| | `page_data.csv` | | |
|-|------|---------|--------|
| | **page** | **country** | **rev_id** |
|0|	Template:ZambiaProvincialMinisters | Zambia | 235107991 |
|1|	Bir I of Kanem | Chad | 355319463 |

***

| | `export_2019.csv` | | |
|-|------|---------|--------|
| | **country** | **population** | **region** |
|0|	Algeria | 44.357 | AFRICA |
|1|	Egypt | 100.803 | 355319463 |

***

In [2]:
#import libraries
import pandas as pd
import os

In [3]:
# read the csv data from data_raw folder
#politician dats ist from page_data.csv and population_data is from export_2019.csv
politician_data = pd.read_csv('data_raw/page_data.csv') 
politician_data.head()

                                 page   country     rev_id
0  Template:ZambiaProvincialMinisters    Zambia  235107991
1                      Bir I of Kanem      Chad  355319463
2   Template:Zimbabwe-politician-stub  Zimbabwe  391862046
3     Template:Uganda-politician-stub    Uganda  391862070
4    Template:Namibia-politician-stub   Namibia  391862409

In [4]:
# filter out the entries with "Template:" for attribute "page"
politician_data=politician_data[~politician_data.page.str.contains('Template:')]
politician_data.head()

,page,country,rev_id
1,Bir I of Kanem,Chad,355319463
10,Information Minister of the Palestinian Nation...,Palestinian Territory,393276188
12,Yos Por,Cambodia,393822005
23,Julius Gregr,Czech Republic,395521877
24,Edvard Gregr,Czech Republic,395526568

### Getting article quality predictions with ORES

Now you need to get the predicted quality scores for each article in the Wikipedia dataset. We're using a machine learning system called [**ORES**](https://www.mediawiki.org/wiki/ORES) ("Objective Revision Evaluation Service"). ORES estimates the quality of an article (at a particular point in time), and assigns a series of probabilities that the article is in one of the six quality categories. The options are, from best to worst:

| ID | Quality Category |  Explanation |
|----|------------------|----------|
| 1 | FA    | Featured article |
| 2 | GA    | Good article |
| 3 | B     | B-class article |
| 4 | C     | C-class article |
| 5 | Start | Start-class article |
| 6 | Stub  | Stub-class article |

For context, these quality classes are a sub-set of quality assessment categories developed by Wikipedia editors. If you're curious, you can [read more](https://en.wikipedia.org/wiki/Wikipedia:Content_assessment#Grades) about what these assessment classes mean on English Wikipedia. For this assignment, you only need to know that these categories exist, and that ORES will assign one of these six categories to any `rev_id`. You need to extract all `rev_id`s in the `page_data.csv` file and use the ORES API to get the predicted quality score for that specific article revision.

### ORES REST API endpoint

The [ORES REST API](https://ores.wikimedia.org/v3/#!/scoring/get_v3_scores_context_revid_model) is configured fairly similarly to the pageviews API we used for the last assignment. It expects the following parameters:

* **project** --> `enwiki`
* **revid** --> e.g. `235107991` or multiple ids e.g.: `235107991|355319463` (batch)
* **model** --> `wp10` - The name of a model to use when scoring.

**❗Note on batch processing:** Please read the documentation about [API usage](https://www.mediawiki.org/wiki/ORES#API_usage) if you want to query a large number of revisions (batches). 

You will notice that ORES returns a prediction value that contains the name of one category (e.g. `Start`), as well as probability values for each of the six quality categories. For this assignment, you only need to capture and use the value for prediction.

**❗Note:** It's possible that you will be unable to get a score for a particular article. If that happens, make sure to maintain a log of articles for which you were not able to retrieve an ORES score. This log should be saved as a separate file named `ORES_no_scores.csv` and should include the `page`, `country`, and `rev_id` (just as in `page_data.csv`).

You can use the following **samle code for API calls**:

In [5]:
# Check the data, see if every page has an identical rev_id 
politician_data.info()
politician_data.rev_id.max(),politician_data.rev_id.min()
# We know that there are 46701 entries in politician data and the red_id contains 9-digits in intervall (807484325, 355319463)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46701 entries, 1 to 47196
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   page     46701 non-null  object
 1   country  46701 non-null  object
 2   rev_id   46701 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.4+ MB

(807484325, 355319463)

In [6]:
import requests
import json

# Customize these with your own information
headers = {
    'User-Agent': 'https://github.com/yuxin16',
    'From': 'xin.yu@fu-berlin.de'
}

def get_ores_data(rev_id, headers):
    
    # Define the endpoint
    # https://ores.wikimedia.org/scores/enwiki/?models=wp10&revids=807420979|807422778
    endpoint = 'https://ores.wikimedia.org/v3/scores/{project}/?models={model}&revids={revids}'

    params = {'project' : 'enwiki',
              'model'   : 'wp10',
              'revids'  : rev_id
              }

    api_call = requests.get(endpoint.format(**params))
    response = api_call.json()
    data = json.dumps(response)

    return data

#create two initiate dataframe for storing the scored/non-scored pages
#ORES_no_scores = pd.DataFrame(columns=['page','country','rev_id'])
#ORES_scores=pd.DataFrame(columns=["page","country","rev_id","ORES_score"])

#def get_score(page_data):

In [24]:
#rev_id=politician_data.rev_id.to_list()
#rev_id
#all_rev_ids = politician_data["rev_id"].to_list()
#all_rev_ids
#get_ores_data(all_rev_ids[0:2], headers=headers)

'{"error": {"code": "bad request", "message": "Could not interpret revids. invalid literal for int() with base 10: \'[355319463, 393276188]\'"}}'

In [7]:
#test output with the first article
get_ores_data(rev_id = politician_data["rev_id"].iloc[0], headers=headers)

'{"enwiki": {"models": {"wp10": {"version": "0.8.2"}}, "scores": {"355319463": {"wp10": {"score": {"prediction": "Stub", "probability": {"B": 0.005643168767502225, "C": 0.005641424870624224, "FA": 0.0010757577110297029, "GA": 0.001543343686495854, "Start": 0.010537503531047517, "Stub": 0.9755588014333005}}}}}}}'

**Request ORES API and get the prediction of articals**

In [20]:
import numpy as np
prediction = []
def get_prediction(rev_id,headers):   
    #create two initiate dataframe for storing the scored/non-scored pages
    #ORES_no_scores = pd.DataFrame(columns=['page','country','rev_id'])
    #ORES_scores=pd.DataFrame(columns=["page","country","rev_id","ORES_score"])
    #prediction = []
    data = json.loads(get_ores_data(rev_id, headers))
    for key, value in data["enwiki"]["scores"].items():
        try:
            prediction.append(value["wp10"]["score"]["prediction"])
        except KeyError:
            prediction.append(np.nan)
        #print(prediction)
    return prediction
#get_prediction(rev_id = politician_data["rev_id"].iloc[0], headers=headers)

In [16]:
revision_ids = [x for x in politician_data["rev_id"]]
revision_ids

[355319463,
 393276188,
 393822005,
 395521877,
 395526568,
 401577829,
 442937236,
 448555418,
 470173494,
 477962574,
 492060822,
 492964343,
 498683267,
 502721672,
 516633096,
 521986779,
 532253442,
 543225630,
 545936100,
 546364151,
 549300521,
 550682925,
 550953646,
 559553872,
 559788982,
 560758943,
 561744402,
 564873005,
 565745353,
 565745365,
 565745375,
 566504165,
 573710096,
 574571582,
 576988466,
 585894477,
 592289232,
 595693452,
 596181202,
 598819900,
 601122766,
 601127343,
 614786300,
 623004627,
 623334577,
 624468970,
 625509885,
 626606789,
 627001041,
 627051151,
 627432937,
 627547024,
 628261896,
 628268705,
 628270736,
 628312759,
 628379479,
 628563978,
 628619000,
 628766656,
 628988952,
 629562076,
 629818376,
 630396351,
 630396786,
 630704768,
 631437331,
 631581752,
 632008524,
 632261377,
 632447328,
 633612729,
 634032715,
 635240253,
 635814126,
 636911471,
 637801253,
 638214719,
 638362866,
 638377138,
 638566016,
 638571205,
 638599355,
 639021339,
 639061161,
 639471171,
 640014648,
 640214913,
 640826254,
 641422326,
 643410335,
 643746000,
 643932216,
 643932220,
 643932225,
 643932226,
 643932239,
 643932242,
 644024203,
 644041882,
 644399375,
 645225697,
 645408814,
 647367482,
 647450883,
 647483021,
 647832959,
 647893858,
 648048611,
 648271473,
 650458255,
 650462344,
 650494773,
 651250302,
 651785828,
 651856758,
 653467222,
 653527941,
 653895210,
 654012510,
 655031906,
 655032578,
 655390291,
 655980284,
 656352211,
 656386131,
 656737492,
 657176628,
 658939122,
 659315526,
 660214915,
 660579437,
 660884852,
 662681733,
 662927043,
 663088604,
 663166199,
 663348266,
 663572469,
 663617582,
 663783398,
 663880497,
 664532059,
 664669156,
 664787336,
 664793790,
 664814622,
 664822251,
 666029819,
 666596918,
 666610075,
 666752677,
 667194771,
 667198201,
 667815878,
 667821864,
 667873261,
 667906849,
 668091068,
 668095014,
 668258382,
 668449610,
 668830946,
 669266906,
 669301445,
 669387487,
 669444168,
 669565720,
 669571173,
 669719757,
 669831602,
 669833212,
 669833349,
 669835390,
 669841183,
 669855022,
 669862709,
 669869895,
 669981316,
 669985109,
 669987106,
 670134982,
 670210734,
 670462475,
 670893206,
 670917017,
 670960027,
 670971940,
 671016281,
 671023940,
 671029717,
 671032132,
 671047987,
 671073599,
 671122320,
 671189093,
 671338098,
 671338216,
 671455150,
 671461616,
 671462644,
 671473289,
 671475479,
 671483959,
 671484594,
 671511760,
 671515606,
 671516033,
 671637265,
 671868722,
 671890885,
 671891037,
 671895550,
 671897239,
 671903264,
 672119030,
 672156082,
 672284154,
 672515581,
 672547562,
 672709444,
 672862914,
 673008587,
 673393730,
 674487383,
 674576443,
 674702694,
 674919905,
 675271208,
 675303236,
 675376529,
 676040670,
 676043559,
 676044272,
 676498385,
 676610041,
 676612108,
 676661990,
 676691070,
 676732644,
 676734572,
 676782180,
 676828191,
 676841743,
 676947124,
 677094551,
 677317570,
 677435096,
 677516121,
 677523953,
 677568976,
 677724847,
 677747943,
 677750304,
 677769770,
 677786528,
 677974642,
 678140107,
 678440540,
 678532348,
 678595657,
 678638092,
 678721991,
 679247120,
 679294949,
 679509452,
 679547012,
 679559247,
 679591301,
 679623758,
 679873929,
 680016822,
 680036029,
 680071857,
 680161213,
 680174895,
 680205631,
 680370867,
 680532939,
 680614363,
 680618398,
 680618797,
 680629551,
 680680191,
 680722683,
 680886613,
 680933208,
 680981536,
 681177706,
 681605695,
 682145001,
 682149007,
 682166816,
 682576258,
 682928660,
 683020488,
 683282915,
 683417360,
 683631802,
 683715284,
 683946857,
 684023803,
 684023859,
 684050793,
 684060626,
 684179656,
 684295893,
 684464777,
 684499128,
 684525811,
 684537777,
 684542057,
 684660655,
 684804678,
 684821806,
 684859066,
 684879320,
 684903534,
 684903869,
 685116600,
 685320824,
 685347694,
 685720694,
 686050095,
 686269631,
 686349441,
 686375687,
 686406513,
 686619225,
 686777395,
 687093229,
 687109778,
 687127320,
 687130572,
 687134370,
 687138552,
 687159388,
 687159391,
 687159546,
 687160422,
 687285060,
 687492743,
 687613810,
 687837173,
 687882717,
 688145583,
 688430552,
 688501356,
 688524967,
 688537236,
 688590526,
 688695923,
 688697227,
 688763099,
 689248087,
 689614169,
 689893447,
 689932213,
 689944992,
 689950541,
 690074710,
 690088836,
 690152474,
 690205437,
 690430012,
 690548204,
 690700220,
 690768683,
 690770856,
 691045510,
 691201135,
 691346630,
 691389889,
 691747234,
 692123101,
 692141335,
 692173141,
 692298286,
 692475749,
 692502721,
 692502986,
 692684868,
 693011077,
 693055898,
 693179500,
 693208023,
 693211421,
 693292931,
 693336296,
 693337130,
 693338177,
 693354280,
 693388584,
 693431430,
 693514155,
 693552292,
 693573541,
 693624260,
 693661018,
 693714773,
 693721533,
 693748230,
 693817205,
 694039903,
 694084978,
 694112087,
 694313944,
 694335820,
 694337217,
 694364743,
 694519009,
 694557304,
 694588693,
 694815600,
 694889020,
 694949199,
 694949347,
 694954386,
 694969219,
 694969272,
 695276940,
 695389357,
 695393414,
 695405443,
 695633280,
 695644408,
 695938011,
 695941127,
 696119166,
 696253449,
 696310078,
 696350624,
 696479863,
 696606312,
 696608092,
 696608668,
 697009255,
 697267319,
 697280332,
 697369222,
 697507956,
 697511001,
 697556836,
 697559666,
 697662367,
 697742639,
 697897076,
 697908533,
 698048774,
 698077739,
 698093715,
 698241676,
 698253253,
 698345894,
 698571611,
 698571613,
 698571631,
 698571634,
 698571661,
 698571662,
 698571672,
 698571717,
 698571731,
 698571738,
 698571745,
 698571747,
 698571748,
 698571750,
 698571758,
 698571782,
 698571785,
 698571803,
 698572100,
 698572160,
 698572183,
 698572200,
 698572239,
 698572252,
 698572269,
 698572288,
 698572291,
 698572322,
 698572326,
 698572327,
 698573619,
 698573648,
 698573657,
 698573663,
 698573690,
 698573707,
 698573738,
 698575586,
 698575613,
 698575620,
 698575646,
 698575662,
 698575677,
 698575695,
 698575714,
 698582041,
 698635954,
 698806662,
 698806682,
 698807297,
 698807322,
 698807325,
 698807337,
 698807345,
 698807371,
 698807791,
 698865505,
 698946168,
 698946169,
 698947539,
 698947672,
 698947841,
 698948097,
 698948150,
 698964210,
 699022350,
 699090098,
 699090515,
 699093655,
 699105110,
 699105313,
 699105350,
 699105456,
 699105911,
 699105927,
 699105952,
 699105999,
 699106128,
 699106152,
 699106649,
 699106665,
 699136209,
 699143672,
 699197059,
 699197123,
 699197323,
 699197850,
 699198463,
 699198744,
 699199094,
 699217035,
 699217197,
 699244801,
 699260156,
 699336500,
 699336835,
 699336991,
 699337057,
 699337076,
 699337845,
 699338274,
 699338569,
 699339086,
 699339429,
 699339451,
 699339741,
 699339799,
 699339851,
 699340034,
 699340111,
 699340192,
 699340750,
 699340982,
 699341069,
 699341077,
 699341277,
 699359388,
 699363937,
 699385095,
 699387282,
 699387500,
 699387764,
 699520934,
 699565471,
 699589239,
 699674395,
 699691415,
 699692070,
 699698855,
 699698896,
 699700649,
 699701755,
 699739069,
 699876153,
 699931269,
 699979806,
 700002117,
 700027061,
 700061282,
 700172278,
 700180948,
 700307974,
 700312550,
 700355020,
 700355034,
 700355073,
 700400143,
 700445444,
 700458967,
 700474660,
 700475564,
 700476319,
 700476353,
 700669417,
 700670718,
 700719585,
 700864508,
 700932354,
 701014752,
 701047665,
 701048027,
 701106976,
 701219833,
 701394744,
 701395219,
 701431224,
 701437626,
 701452937,
 701588716,
 701742218,
 701745522,
 701771698,
 701832149,
 701871912,
 701896358,
 701904302,
 701961167,
 701998658,
 702098995,
 702258783,
 702355716,
 702357552,
 702484294,
 702509338,
 702687818,
 702707688,
 702712670,
 702727008,
 702729826,
 702740797,
 702832114,
 702875035,
 702893111,
 702930848,
 702949370,
 702964122,
 702969677,
 702972334,
 702973103,
 702974211,
 702974510,
 703029024,
 703037968,
 703053769,
 703053876,
 703053905,
 703054379,
 703054420,
 703054447,
 703054465,
 703054481,
 703054542,
 703054561,
 703054581,
 703054633,
 703054668,
 703055426,
 703055552,
 703060685,
 703098503,
 703105765,
 703133769,
 703183568,
 703187650,
 703207074,
 703216645,
 703222512,
 703224305,
 703226576,
 703296748,
 703296780,
 703296853,
 703325745,
 703331074,
 703366953,
 703366980,
 703380433,
 703384635,
 703384656,
 703385617,
 703386200,
 703392035,
 703392121,
 703401191,
 703401364,
 703403120,
 703405191,
 703406889,
 703412803,
 703416870,
 703422434,
 703423083,
 703436823,
 703442039,
 703463813,
 703478926,
 703494680,
 703495399,
 703507854,
 703532164,
 703540064,
 703546632,
 703547153,
 703550487,
 703551448,
 703555897,
 703558722,
 703558902,
 703559376,
 703559571,
 703560413,
 703569338,
 703580130,
 703652809,
 703666654,
 703693244,
 703707383,
 703719281,
 703721936,
 703726449,
 703726461,
 703759447,
 703773782,
 703819839,
 703821686,
 703857757,
 703874973,
 703875077,
 703915721,
 703922417,
 703925527,
 703937309,
 703937386,
 704000120,
 704001951,
 704004670,
 704010140,
 704039294,
 704047959,
 704094181,
 704136762,
 704235837,
 704358444,
 704369545,
 704424304,
 704428239,
 704438564,
 704438953,
 704451065,
 704452023,
 704455431,
 704460602,
 704467987,
 704476712,
 704491213,
 704516768,
 704529226,
 704529261,
 704529371,
 704529469,
 704529565,
 704529649,
 704529680,
 704529707,
 704529774,
 704529947,
 704529983,
 704530012,
 704530050,
 704530111,
 704530148,
 704530193,
 704530253,
 704569851,
 704575541,
 704596904,
 704597450,
 704600764,
 704611447,
 704636414,
 704636517,
 704651379,
 704668476,
 704676106,
 704689916,
 704719275,
 704744768,
 704745155,
 704772645,
 704779585,
 704789339,
 704816808,
 704830391,
 704833506,
 704859854,
 704860350,
 704866062,
 704875463,
 704888246,
 704893591,
 704897187,
 704906631,
 704909164,
 704909244,
 704909670,
 704914179,
 704916318,
 704916375,
 704917703,
 704919844,
 704929287,
 704933176,
 704936337,
 704938340,
 704954450,
 704966834,
 704971958,
 704981447,
 704981869,
 704987150,
 705001594,
 705015595,
 705017090,
 705038435,
 705046546,
 705071250,
 705080136,
 705088060,
 705106158,
 705111781,
 705119502,
 705122808,
 705167083,
 705177330,
 705180584,
 705200309,
 705200468,
 705202080,
 705202157,
 705204037,
 705206510,
 705206616,
 705212313,
 705213504,
 705218371,
 705222873,
 705226005,
 705228603,
 705236060,
 705244503,
 705247791,
 705254033,
 705264062,
 705267741,
 705267817,
 705267832,
 705268153,
 705268171,
 705268248,
 705268496,
 705268522,
 705268536,
 705268645,
 705272416,
 705274650,
 705277835,
 705286745,
 705288012,
 705288814,
 705293831,
 705301730,
 705322126,
 705332341,
 705346284,
 705346304,
 705346378,
 705346396,
 705346462,
 705346724,
 705346741,
 705346794,
 705346842,
 705346888,
 705346938,
 705346996,
 705347018,
 705347032,
 705347050,
 705347079,
 705347109,
 705347141,
 705347152,
 705347173,
 705347224,
 705347243,
 705349064,
 705349092,
 705349139,
 705349167,
 705349213,
 705353421,
 705353491,
 705353565,
 705353584,
 705353647,
 705353678,
 705353843,
 705353896,
 705353975,
 705354095,
 705354112,
 705354212,
 705360501,
 705360606,
 705361515,
 705361631,
 705361890,
 705361977,
 705362182,
 705362274,
 705363525,
 705363610,
 705363657,
 705363872,
 705363891,
 705369652,
 705381218,
 705383874,
 705385310,
 705386024,
 705390654,
 705395252,
 705395257,
 705397692,
 705402311,
 705409866,
 705419921,
 705420162,
 705420173,
 705426676,
 705426756,
 705426772,
 705428274,
 705431624,
 705432607,
 705433513,
 705434314,
 705436088,
 705459067,
 705460148,
 705460585,
 705467367,
 705490419,
 705518003,
 705518883,
 705527296,
 705528950,
 705539849,
 705543133,
 705546376,
 705547266,
 705550209,
 705557717,
 705570766,
 705579844,
 705585115,
 705586751,
 705597487,
 705601685,
 705607317,
 705607410,
 705619664,
 705622230,
 705622580,
 705631918,
 705653632,
 705700815,
 705706890,
 705707214,
 705720356,
 705723187,
 705723441,
 705726893,
 705727586,
 705736835,
 705736979,
 ...]

In [21]:
for i in range (0,len(revision_ids),50):#len(politician_data["rev_id"])
    batch = '|'.join(str(x) for x in revision_ids[i:(i+50)])
    get_prediction(rev_id=batch, headers=headers)
    print(i,"entries are scored.")
print("All entries are scored.")

0 entries are scored.
50 entries are scored.
100 entries are scored.
150 entries are scored.
200 entries are scored.
250 entries are scored.
300 entries are scored.
350 entries are scored.
400 entries are scored.
450 entries are scored.
500 entries are scored.
550 entries are scored.
600 entries are scored.
650 entries are scored.
700 entries are scored.
750 entries are scored.
800 entries are scored.
850 entries are scored.
900 entries are scored.
950 entries are scored.
1000 entries are scored.
1050 entries are scored.
1100 entries are scored.
1150 entries are scored.
1200 entries are scored.
1250 entries are scored.
1300 entries are scored.
1350 entries are scored.
1400 entries are scored.
1450 entries are scored.
1500 entries are scored.
1550 entries are scored.
1600 entries are scored.
1650 entries are scored.
1700 entries are scored.
1750 entries are scored.
1800 entries are scored.
1850 entries are scored.
1900 entries are scored.
1950 entries are scored.
2000 entries are scored.
2050 entries are scored.
2100 entries are scored.
2150 entries are scored.
2200 entries are scored.
2250 entries are scored.
2300 entries are scored.
2350 entries are scored.
2400 entries are scored.
2450 entries are scored.
2500 entries are scored.
2550 entries are scored.
2600 entries are scored.
2650 entries are scored.
2700 entries are scored.
2750 entries are scored.
2800 entries are scored.
2850 entries are scored.
2900 entries are scored.
2950 entries are scored.
3000 entries are scored.
3050 entries are scored.
3100 entries are scored.
3150 entries are scored.
3200 entries are scored.
3250 entries are scored.
3300 entries are scored.
3350 entries are scored.
3400 entries are scored.
3450 entries are scored.
3500 entries are scored.
3550 entries are scored.
3600 entries are scored.
3650 entries are scored.
3700 entries are scored.
3750 entries are scored.
3800 entries are scored.
3850 entries are scored.
3900 entries are scored.
3950 entries are scored.
4000 entries are scored.
4050 entries are scored.
4100 entries are scored.
4150 entries are scored.
4200 entries are scored.
4250 entries are scored.
4300 entries are scored.
4350 entries are scored.
4400 entries are scored.
4450 entries are scored.
4500 entries are scored.
4550 entries are scored.
4600 entries are scored.
4650 entries are scored.
4700 entries are scored.
4750 entries are scored.
4800 entries are scored.
4850 entries are scored.
4900 entries are scored.
4950 entries are scored.
5000 entries are scored.
5050 entries are scored.
5100 entries are scored.
5150 entries are scored.
5200 entries are scored.
5250 entries are scored.
5300 entries are scored.
5350 entries are scored.
5400 entries are scored.
5450 entries are scored.
5500 entries are scored.
5550 entries are scored.
5600 entries are scored.
5650 entries are scored.
5700 entries are scored.
5750 entries are scored.
5800 entries are scored.
5850 entries are scored.
5900 entries are scored.
5950 entries are scored.
6000 entries are scored.
6050 entries are scored.
6100 entries are scored.
6150 entries are scored.
6200 entries are scored.
6250 entries are scored.
6300 entries are scored.
6350 entries are scored.
6400 entries are scored.
6450 entries are scored.
6500 entries are scored.
6550 entries are scored.
6600 entries are scored.
6650 entries are scored.
6700 entries are scored.
6750 entries are scored.
6800 entries are scored.
6850 entries are scored.
6900 entries are scored.
6950 entries are scored.
7000 entries are scored.
7050 entries are scored.
7100 entries are scored.
7150 entries are scored.
7200 entries are scored.
7250 entries are scored.
7300 entries are scored.
7350 entries are scored.
7400 entries are scored.
7450 entries are scored.
7500 entries are scored.
7550 entries are scored.
7600 entries are scored.
7650 entries are scored.
7700 entries are scored.
7750 entries are scored.
7800 entries are scored.
7850 entries are scored.
7900 entries are scored.
7950 entries are scored.
8000 entries are scored.
8050 entries are scored.
8100 entries are scored.
8150 entries are scored.
8200 entries are scored.
8250 entries are scored.
8300 entries are scored.
8350 entries are scored.
8400 entries are scored.
8450 entries are scored.
8500 entries are scored.
8550 entries are scored.
8600 entries are scored.
8650 entries are scored.
8700 entries are scored.
8750 entries are scored.
8800 entries are scored.
8850 entries are scored.
8900 entries are scored.
8950 entries are scored.
9000 entries are scored.
9050 entries are scored.
9100 entries are scored.
9150 entries are scored.
9200 entries are scored.
9250 entries are scored.
9300 entries are scored.
9350 entries are scored.
9400 entries are scored.
9450 entries are scored.
9500 entries are scored.
9550 entries are scored.
9600 entries are scored.
9650 entries are scored.
9700 entries are scored.
9750 entries are scored.
9800 entries are scored.
9850 entries are scored.
9900 entries are scored.
9950 entries are scored.
10000 entries are scored.
10050 entries are scored.
10100 entries are scored.
10150 entries are scored.
10200 entries are scored.
10250 entries are scored.
10300 entries are scored.
10350 entries are scored.
10400 entries are scored.
10450 entries are scored.
10500 entries are scored.
10550 entries are scored.
10600 entries are scored.
10650 entries are scored.
10700 entries are scored.
10750 entries are scored.
10800 entries are scored.
10850 entries are scored.
10900 entries are scored.
10950 entries are scored.
11000 entries are scored.
11050 entries are scored.
11100 entries are scored.
11150 entries are scored.
11200 entries are scored.
11250 entries are scored.
11300 entries are scored.
11350 entries are scored.
11400 entries are scored.
11450 entries are scored.
11500 entries are scored.
11550 entries are scored.
11600 entries are scored.
11650 entries are scored.
11700 entries are scored.
11750 entries are scored.
11800 entries are scored.
11850 entries are scored.
11900 entries are scored.
11950 entries are scored.
12000 entries are scored.
12050 entries are scored.
12100 entries are scored.
12150 entries are scored.
12200 entries are scored.
12250 entries are scored.
12300 entries are scored.
12350 entries are scored.
12400 entries are scored.
12450 entries are scored.
12500 entries are scored.
12550 entries are scored.
12600 entries are scored.
12650 entries are scored.
12700 entries are scored.
12750 entries are scored.
12800 entries are scored.
12850 entries are scored.
12900 entries are scored.
12950 entries are scored.
13000 entries are scored.
13050 entries are scored.
13100 entries are scored.
13150 entries are scored.
13200 entries are scored.
13250 entries are scored.
13300 entries are scored.
13350 entries are scored.
13400 entries are scored.
13450 entries are scored.
13500 entries are scored.
13550 entries are scored.
13600 entries are scored.
13650 entries are scored.
13700 entries are scored.
13750 entries are scored.
13800 entries are scored.
13850 entries are scored.
13900 entries are scored.
13950 entries are scored.
14000 entries are scored.
14050 entries are scored.
14100 entries are scored.
14150 entries are scored.
14200 entries are scored.
14250 entries are scored.
14300 entries are scored.
14350 entries are scored.
14400 entries are scored.
14450 entries are scored.
14500 entries are scored.
14550 entries are scored.
14600 entries are scored.
14650 entries are scored.
14700 entries are scored.
14750 entries are scored.
14800 entries are scored.
14850 entries are scored.
14900 entries are scored.
14950 entries are scored.
15000 entries are scored.
15050 entries are scored.
15100 entries are scored.
15150 entries are scored.
15200 entries are scored.
15250 entries are scored.
15300 entries are scored.
15350 entries are scored.
15400 entries are scored.
15450 entries are scored.
15500 entries are scored.
15550 entries are scored.
15600 entries are scored.
15650 entries are scored.
15700 entries are scored.
15750 entries are scored.
15800 entries are scored.
15850 entries are scored.
15900 entries are scored.
15950 entries are scored.
16000 entries are scored.
16050 entries are scored.
16100 entries are scored.
16150 entries are scored.

16200 entries are scored.
16250 entries are scored.
16300 entries are scored.
16350 entries are scored.
16400 entries are scored.
16450 entries are scored.
16500 entries are scored.
16550 entries are scored.
16600 entries are scored.
16650 entries are scored.
16700 entries are scored.
16750 entries are scored.
16800 entries are scored.
16850 entries are scored.
16900 entries are scored.
16950 entries are scored.
17000 entries are scored.
17050 entries are scored.
17100 entries are scored.
17150 entries are scored.
17200 entries are scored.
17250 entries are scored.
17300 entries are scored.
17350 entries are scored.
17400 entries are scored.
17450 entries are scored.
17500 entries are scored.
17550 entries are scored.
17600 entries are scored.
17650 entries are scored.
17700 entries are scored.
17750 entries are scored.
17800 entries are scored.
17850 entries are scored.
17900 entries are scored.
17950 entries are scored.
18000 entries are scored.
18050 entries are scored.
18100 entries are scored.
18150 entries are scored.
18200 entries are scored.
18250 entries are scored.
18300 entries are scored.
18350 entries are scored.
18400 entries are scored.
18450 entries are scored.
18500 entries are scored.
18550 entries are scored.
18600 entries are scored.
18650 entries are scored.
18700 entries are scored.
18750 entries are scored.
18800 entries are scored.
18850 entries are scored.
18900 entries are scored.
18950 entries are scored.
19000 entries are scored.
19050 entries are scored.
19100 entries are scored.
19150 entries are scored.
19200 entries are scored.
19250 entries are scored.
19300 entries are scored.
19350 entries are scored.
19400 entries are scored.
19450 entries are scored.
19500 entries are scored.
19550 entries are scored.
19600 entries are scored.
19650 entries are scored.
19700 entries are scored.
19750 entries are scored.
19800 entries are scored.
19850 entries are scored.
19900 entries are scored.
19950 entries are scored.
20000 entries are scored.
20050 entries are scored.
20100 entries are scored.
20150 entries are scored.
20200 entries are scored.
20250 entries are scored.
20300 entries are scored.
20350 entries are scored.
20400 entries are scored.
20450 entries are scored.
20500 entries are scored.
20550 entries are scored.
20600 entries are scored.
20650 entries are scored.
20700 entries are scored.
20750 entries are scored.
20800 entries are scored.
20850 entries are scored.
20900 entries are scored.
20950 entries are scored.
21000 entries are scored.
21050 entries are scored.
21100 entries are scored.
21150 entries are scored.
21200 entries are scored.
21250 entries are scored.
21300 entries are scored.
21350 entries are scored.
21400 entries are scored.
21450 entries are scored.
21500 entries are scored.
21550 entries are scored.
21600 entries are scored.
21650 entries are scored.
21700 entries are scored.
21750 entries are scored.
21800 entries are scored.
21850 entries are scored.
21900 entries are scored.
21950 entries are scored.
22000 entries are scored.
22050 entries are scored.
22100 entries are scored.
22150 entries are scored.
22200 entries are scored.
22250 entries are scored.
22300 entries are scored.
22350 entries are scored.
22400 entries are scored.
22450 entries are scored.
22500 entries are scored.
22550 entries are scored.
22600 entries are scored.
22650 entries are scored.
22700 entries are scored.
22750 entries are scored.
22800 entries are scored.
22850 entries are scored.
22900 entries are scored.
22950 entries are scored.
23000 entries are scored.
23050 entries are scored.
23100 entries are scored.
23150 entries are scored.
23200 entries are scored.
23250 entries are scored.
23300 entries are scored.
23350 entries are scored.
23400 entries are scored.
23450 entries are scored.
23500 entries are scored.
23550 entries are scored.
23600 entries are scored.
23650 entries are scored.
23700 entries are scored.
23750 entries are scored.
23800 entries are scored.
23850 entries are scored.
23900 entries are scored.
23950 entries are scored.
24000 entries are scored.
24050 entries are scored.
24100 entries are scored.
24150 entries are scored.
24200 entries are scored.
24250 entries are scored.
24300 entries are scored.
24350 entries are scored.
24400 entries are scored.
24450 entries are scored.
24500 entries are scored.
24550 entries are scored.
24600 entries are scored.
24650 entries are scored.
24700 entries are scored.
24750 entries are scored.
24800 entries are scored.
24850 entries are scored.
24900 entries are scored.
24950 entries are scored.
25000 entries are scored.
25050 entries are scored.
25100 entries are scored.
25150 entries are scored.
25200 entries are scored.
25250 entries are scored.
25300 entries are scored.
25350 entries are scored.
25400 entries are scored.
25450 entries are scored.
25500 entries are scored.
25550 entries are scored.
25600 entries are scored.
25650 entries are scored.
25700 entries are scored.
25750 entries are scored.
25800 entries are scored.
25850 entries are scored.
25900 entries are scored.
25950 entries are scored.
26000 entries are scored.
26050 entries are scored.
26100 entries are scored.
26150 entries are scored.
26200 entries are scored.
26250 entries are scored.
26300 entries are scored.
26350 entries are scored.
26400 entries are scored.
26450 entries are scored.
26500 entries are scored.
26550 entries are scored.
26600 entries are scored.
26650 entries are scored.
26700 entries are scored.
26750 entries are scored.
26800 entries are scored.
26850 entries are scored.
26900 entries are scored.
26950 entries are scored.
27000 entries are scored.
27050 entries are scored.
27100 entries are scored.
27150 entries are scored.
27200 entries are scored.
27250 entries are scored.
27300 entries are scored.
27350 entries are scored.
27400 entries are scored.
27450 entries are scored.
27500 entries are scored.
27550 entries are scored.
27600 entries are scored.
27650 entries are scored.
27700 entries are scored.
27750 entries are scored.
27800 entries are scored.
27850 entries are scored.
27900 entries are scored.
27950 entries are scored.
28000 entries are scored.
28050 entries are scored.
28100 entries are scored.
28150 entries are scored.
28200 entries are scored.
28250 entries are scored.
28300 entries are scored.
28350 entries are scored.
28400 entries are scored.
28450 entries are scored.
28500 entries are scored.
28550 entries are scored.
28600 entries are scored.
28650 entries are scored.
28700 entries are scored.
28750 entries are scored.
28800 entries are scored.
28850 entries are scored.
28900 entries are scored.
28950 entries are scored.
29000 entries are scored.
29050 entries are scored.
29100 entries are scored.
29150 entries are scored.
29200 entries are scored.
29250 entries are scored.
29300 entries are scored.
29350 entries are scored.
29400 entries are scored.
29450 entries are scored.
29500 entries are scored.
29550 entries are scored.
29600 entries are scored.
29650 entries are scored.
29700 entries are scored.
29750 entries are scored.
29800 entries are scored.
29850 entries are scored.
29900 entries are scored.
29950 entries are scored.
30000 entries are scored.
30050 entries are scored.
30100 entries are scored.
30150 entries are scored.
30200 entries are scored.
30250 entries are scored.
30300 entries are scored.
30350 entries are scored.
30400 entries are scored.
30450 entries are scored.
30500 entries are scored.
30550 entries are scored.
30600 entries are scored.
30650 entries are scored.
30700 entries are scored.
30750 entries are scored.
30800 entries are scored.
30850 entries are scored.
30900 entries are scored.
30950 entries are scored.
31000 entries are scored.
31050 entries are scored.
31100 entries are scored.
31150 entries are scored.
31200 entries are scored.
31250 entries are scored.
31300 entries are scored.
31350 entries are scored.
31400 entries are scored.
31450 entries are scored.
31500 entries are scored.
31550 entries are scored.
31600 entries are scored.
31650 entries are scored.
31700 entries are scored.
31750 entries are scored.
31800 entries are scored.
31850 entries are scored.
31900 entries are scored.
31950 entries are scored.

32000 entries are scored.
32050 entries are scored.
32100 entries are scored.
32150 entries are scored.
32200 entries are scored.
32250 entries are scored.
32300 entries are scored.
32350 entries are scored.
32400 entries are scored.
32450 entries are scored.
32500 entries are scored.
32550 entries are scored.
32600 entries are scored.
32650 entries are scored.
32700 entries are scored.
32750 entries are scored.
32800 entries are scored.
32850 entries are scored.
32900 entries are scored.
32950 entries are scored.
33000 entries are scored.
33050 entries are scored.
33100 entries are scored.
33150 entries are scored.
33200 entries are scored.
33250 entries are scored.
33300 entries are scored.
33350 entries are scored.
33400 entries are scored.
33450 entries are scored.
33500 entries are scored.
33550 entries are scored.
33600 entries are scored.
33650 entries are scored.
33700 entries are scored.
33750 entries are scored.
33800 entries are scored.
33850 entries are scored.
33900 entries are scored.
33950 entries are scored.
34000 entries are scored.
34050 entries are scored.
34100 entries are scored.
34150 entries are scored.
34200 entries are scored.
34250 entries are scored.
34300 entries are scored.
34350 entries are scored.
34400 entries are scored.
34450 entries are scored.
34500 entries are scored.
34550 entries are scored.
34600 entries are scored.
34650 entries are scored.
34700 entries are scored.
34750 entries are scored.
34800 entries are scored.
34850 entries are scored.
34900 entries are scored.
34950 entries are scored.
35000 entries are scored.
35050 entries are scored.
35100 entries are scored.
35150 entries are scored.
35200 entries are scored.
35250 entries are scored.
35300 entries are scored.
35350 entries are scored.
35400 entries are scored.
35450 entries are scored.
35500 entries are scored.
35550 entries are scored.
35600 entries are scored.
35650 entries are scored.
35700 entries are scored.
35750 entries are scored.
35800 entries are scored.
35850 entries are scored.
35900 entries are scored.
35950 entries are scored.
36000 entries are scored.
36050 entries are scored.
36100 entries are scored.
36150 entries are scored.
36200 entries are scored.
36250 entries are scored.
36300 entries are scored.
36350 entries are scored.
36400 entries are scored.
36450 entries are scored.
36500 entries are scored.
36550 entries are scored.
36600 entries are scored.
36650 entries are scored.
36700 entries are scored.
36750 entries are scored.
36800 entries are scored.
36850 entries are scored.
36900 entries are scored.
36950 entries are scored.
37000 entries are scored.
37050 entries are scored.
37100 entries are scored.
37150 entries are scored.
37200 entries are scored.
37250 entries are scored.
37300 entries are scored.
37350 entries are scored.
37400 entries are scored.
37450 entries are scored.
37500 entries are scored.
37550 entries are scored.
37600 entries are scored.
37650 entries are scored.
37700 entries are scored.
37750 entries are scored.
37800 entries are scored.
37850 entries are scored.
37900 entries are scored.
37950 entries are scored.
38000 entries are scored.
38050 entries are scored.
38100 entries are scored.
38150 entries are scored.
38200 entries are scored.
38250 entries are scored.
38300 entries are scored.
38350 entries are scored.
38400 entries are scored.
38450 entries are scored.
38500 entries are scored.
38550 entries are scored.
38600 entries are scored.
38650 entries are scored.
38700 entries are scored.
38750 entries are scored.
38800 entries are scored.
38850 entries are scored.
38900 entries are scored.
38950 entries are scored.
39000 entries are scored.
39050 entries are scored.
39100 entries are scored.
39150 entries are scored.
39200 entries are scored.
39250 entries are scored.
39300 entries are scored.
39350 entries are scored.
39400 entries are scored.
39450 entries are scored.
39500 entries are scored.
39550 entries are scored.
39600 entries are scored.
39650 entries are scored.
39700 entries are scored.
39750 entries are scored.
39800 entries are scored.
39850 entries are scored.
39900 entries are scored.
39950 entries are scored.
40000 entries are scored.
40050 entries are scored.
40100 entries are scored.
40150 entries are scored.
40200 entries are scored.
40250 entries are scored.
40300 entries are scored.
40350 entries are scored.
40400 entries are scored.
40450 entries are scored.
40500 entries are scored.
40550 entries are scored.
40600 entries are scored.
40650 entries are scored.
40700 entries are scored.
40750 entries are scored.
40800 entries are scored.
40850 entries are scored.
40900 entries are scored.
40950 entries are scored.
41000 entries are scored.
41050 entries are scored.
41100 entries are scored.
41150 entries are scored.
41200 entries are scored.
41250 entries are scored.
41300 entries are scored.
41350 entries are scored.
41400 entries are scored.
41450 entries are scored.
41500 entries are scored.
41550 entries are scored.
41600 entries are scored.
41650 entries are scored.
41700 entries are scored.
41750 entries are scored.
41800 entries are scored.
41850 entries are scored.
41900 entries are scored.
41950 entries are scored.
42000 entries are scored.
42050 entries are scored.
42100 entries are scored.
42150 entries are scored.
42200 entries are scored.
42250 entries are scored.
42300 entries are scored.
42350 entries are scored.
42400 entries are scored.
42450 entries are scored.
42500 entries are scored.
42550 entries are scored.
42600 entries are scored.
42650 entries are scored.
42700 entries are scored.
42750 entries are scored.
42800 entries are scored.
42850 entries are scored.
42900 entries are scored.
42950 entries are scored.
43000 entries are scored.
43050 entries are scored.
43100 entries are scored.
43150 entries are scored.
43200 entries are scored.
43250 entries are scored.
43300 entries are scored.
43350 entries are scored.
43400 entries are scored.
43450 entries are scored.
43500 entries are scored.
43550 entries are scored.
43600 entries are scored.
43650 entries are scored.
43700 entries are scored.
43750 entries are scored.
43800 entries are scored.
43850 entries are scored.
43900 entries are scored.
43950 entries are scored.
44000 entries are scored.
44050 entries are scored.
44100 entries are scored.
44150 entries are scored.
44200 entries are scored.
44250 entries are scored.
44300 entries are scored.
44350 entries are scored.
44400 entries are scored.
44450 entries are scored.
44500 entries are scored.
44550 entries are scored.
44600 entries are scored.
44650 entries are scored.
44700 entries are scored.
44750 entries are scored.
44800 entries are scored.
44850 entries are scored.
44900 entries are scored.
44950 entries are scored.
45000 entries are scored.
45050 entries are scored.
45100 entries are scored.
45150 entries are scored.
45200 entries are scored.
45250 entries are scored.
45300 entries are scored.
45350 entries are scored.
45400 entries are scored.
45450 entries are scored.
45500 entries are scored.
45550 entries are scored.
45600 entries are scored.
45650 entries are scored.
45700 entries are scored.
45750 entries are scored.
45800 entries are scored.
45850 entries are scored.
45900 entries are scored.
45950 entries are scored.
46000 entries are scored.
46050 entries are scored.
46100 entries are scored.
46150 entries are scored.
46200 entries are scored.
46250 entries are scored.
46300 entries are scored.
46350 entries are scored.
46400 entries are scored.
46450 entries are scored.
46500 entries are scored.
46550 entries are scored.
46600 entries are scored.
46650 entries are scored.
46700 entries are scored.
All entries are scored.

Sending one request for each `rev_id` might take some time. If you want to send batches you can use `'|'.join(str(x) for x in revision_ids` to put your ids together. Please make sure to deal with [exception handling](https://www.w3schools.com/python/python_try_except.asp) of the `KeyError` exception, when extracting the `prediction` from the `JSON` response.

In [22]:
prediction

['Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'C',
 nan,
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 nan,
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'B',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Start',
 'Start',
 'Stub',
 'Start',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 nan,
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Start',
 'Stub',
 'Stub',
 'Start',
 'B',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Start',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Start',
 'Start',
 'Start',
 'Start',
 'Start',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Start',
 'Start',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Start',
 'Start',
 'C',
 'Start',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 nan,
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'C',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'B',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Start',
 'Start',
 'GA',
 'Start',
 'Stub',
 'C',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 nan,
 nan,
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'C',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Start',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'C',
 'Stub',
 'Stub',
 'Stub',
 'B',
 'C',
 'Stub',
 'Stub',
 'Start',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Start',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 nan,
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'C',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Start',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'C',
 'Stub',
 'Start',
 'Start',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 nan,
 'Start',
 'Stub',
 'Start',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Start',
 'Start',
 'Stub',
 'Start',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'C',
 'Stub',
 'Stub',
 'Stub',
 'C',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'C',
 'Stub',
 'Stub',
 'Start',
 'Start',
 'C',
 'Stub',
 'Start',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Start',
 'Start',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'C',
 'Stub',
 'Start',
 'C',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'C',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Start',
 'Start',
 'Start',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Start',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'C',
 nan,
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'B',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'C',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Start',
 'Start',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'C',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'B',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'C',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Start',
 'Stub',
 'Start',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'C',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Start',
 'Start',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Start',
 'Start',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'C',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Start',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Start',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Stub',
 'Start',
 'Start',
 'Stub',
 ...]

In [26]:
politician_data["prediction"] = prediction
#politician_data.assign(prediction=prediction) -- Why this doesn't work?
politician_data.head()

,page,country,rev_id,prediction
1,Bir I of Kanem,Chad,355319463,Stub
10,Information Minister of the Palestinian Nation...,Palestinian Territory,393276188,Stub
12,Yos Por,Cambodia,393822005,Stub
23,Julius Gregr,Czech Republic,395521877,Stub
24,Edvard Gregr,Czech Republic,395526568,Stub

In [29]:
politician_data_no_scores = politician_data[politician_data["prediction"].isna()]
politician_data_no_scores.head()

                              page      country     rev_id prediction
126  List of politicians in Poland       Poland  516633096        NaN
222                     Tingtingru      Vanuatu  550682925        NaN
330                    Daud Arsala  Afghanistan  627547024        NaN
539                    Bharat Saud        Nepal  671484594        NaN
643                    Robert Sych       Poland  684023803        NaN

In [31]:
politician_data_with_scores = politician_data[~politician_data["prediction"].isna()]
politician_data_with_scores.head()

,page,country,rev_id,prediction
1,Bir I of Kanem,Chad,355319463,Stub
10,Information Minister of the Palestinian Nation...,Palestinian Territory,393276188,Stub
12,Yos Por,Cambodia,393822005,Stub
23,Julius Gregr,Czech Republic,395521877,Stub
24,Edvard Gregr,Czech Republic,395526568,Stub

In [32]:
#path_cwd = os.getcwd()
#path_cwd

'C:\\Users\\xinyu\\Documents\\GitHub\\A3-hcds-hcc-bias'

In [33]:
#path_data_clean = os.path.join(path_cwd, 'data_clean')
#path_data_clean

'C:\\Users\\xinyu\\Documents\\GitHub\\A3-hcds-hcc-bias\\data_clean'

In [34]:
#path_file = os.path.join(path_data_clean, 'politician_data_with_scores.csv')
#politician_data_with_scores.to_csv(path_file, index = False)

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\xinyu\\Documents\\GitHub\\A3-hcds-hcc-bias\\data_clean\\politician_data_with_scores.csv'

**Store cleaned DataFrames into Folder data_clean**

In [35]:
try:
    os.mkdir("data_clean")
    print('data_clean directory created.')
except:
    pass

data_clean directory created.

In [36]:
politician_data_with_scores.to_csv('data_clean/politician_data_with_scores.csv', index = False)

In [37]:
politician_data_no_scores.to_csv('data_clean/politician_data_no_scores.csv',index=False)

### Combining the datasets

Now you need to combine both dataset: (1) the wikipedia articles and its ORES quality scores and (2) the population data. Both have columns named `country`. After merging the data, you'll invariably run into entries which cannot be merged. Either the population dataset does not have an entry for the equivalent Wikipedia country, or vis versa.

Please remove any rows that do not have matching data, and output them to a `CSV` file called `countries-no_match.csv`. Consolidate the remaining data into a single `CSV` file called `politicians_by_country.csv`.

The schema for that file should look like the following table:


| article_name | country | region | revision_id | article_quality | population |
|--------------|---------|--------|-------------|-----------------|------------|
| Bir I of Kanem | Chad  | AFRICA | 807422778 | Stub | 16877000 |

In [59]:
population_data=pd.read_csv('data_raw/export_2019.csv', sep=";")
population_data.head()

   country  population  region
0  Algeria      44.357  AFRICA
1    Egypt     100.803  AFRICA
2    Libya       6.891  AFRICA
3  Morocco      35.952  AFRICA
4    Sudan      43.849  AFRICA

In [69]:
countries_in_population = population_data.country.unique()
countries_in_population.tolist()
#len(countries_in_population)

['Algeria',
 'Egypt',
 'Libya',
 'Morocco',
 'Sudan',
 'Tunisia',
 'Western Sahara',
 'Benin',
 'Burkina Faso',
 'Cape Verde',
 "Cote d'Ivoire",
 'Gambia',
 'Ghana',
 'Guinea',
 'Guinea-Bissau',
 'Liberia',
 'Mali',
 'Mauritania',
 'Niger',
 'Nigeria',
 'Senegal',
 'Sierra Leone',
 'Togo',
 'Burundi',
 'Comoros',
 'Djibouti',
 'Eritrea',
 'Ethiopia',
 'Kenya',
 'Madagascar',
 'Malawi',
 'Mauritius',
 'Mayotte',
 'Mozambique',
 'Reunion',
 'Rwanda',
 'Seychelles',
 'Somalia',
 'South Sudan',
 'Tanzania',
 'Uganda',
 'Zambia',
 'Zimbabwe',
 'Angola',
 'Cameroon',
 'Central African Republic',
 'Chad',
 'Congo',
 'Congo, Dem. Rep.',
 'Equatorial Guinea',
 'Gabon',
 'Sao Tome and Principe',
 'Botswana',
 'eSwatini',
 'Lesotho',
 'Namibia',
 'South Africa',
 'Canada',
 'United States',
 'Belize',
 'Costa Rica',
 'El Salvador',
 'Guatemala',
 'Honduras',
 'Mexico',
 'Nicaragua',
 'Panama',
 'Antigua and Barbuda',
 'Bahamas',
 'Barbados',
 'Cuba',
 'Curacao',
 'Dominica',
 'Dominican Republic',
 'Grenada',
 'Guadeloupe',
 'Haiti',
 'Jamaica',
 'Martinique',
 'Puerto Rico',
 'St. Kitts-Nevis',
 'Saint Lucia',
 'St. Vincent and the Grenadines',
 'Trinidad and Tobago',
 'Argentina',
 'Bolivia',
 'Brazil',
 'Chile',
 'Colombia',
 'Ecuador',
 'French Guiana',
 'Guyana',
 'Paraguay',
 'Peru',
 'Suriname',
 'Uruguay',
 'Venezuela',
 'Armenia',
 'Azerbaijan',
 'Bahrain',
 'Cyprus',
 'Georgia',
 'Iraq',
 'Israel',
 'Jordan',
 'Kuwait',
 'Lebanon',
 'Oman',
 'Palestinian Territory',
 'Qatar',
 'Saudi Arabia',
 'Syria',
 'Turkey',
 'United Arab Emirates',
 'Yemen',
 'Kazakhstan',
 'Kyrgyzstan',
 'Tajikistan',
 'Turkmenistan',
 'Uzbekistan',
 'Afghanistan',
 'Bangladesh',
 'Bhutan',
 'India',
 'Iran',
 'Maldives',
 'Nepal',
 'Pakistan',
 'Sri Lanka',
 'Brunei',
 'Cambodia',
 'Indonesia',
 'Laos',
 'Malaysia',
 'Myanmar',
 'Philippines',
 'Singapore',
 'Thailand',
 'Timor-Leste',
 'Vietnam',
 'China',
 'China, Hong Kong SAR',
 'China, Macao SAR',
 'Japan',
 'Korea, North',
 'Korea, South',
 'Mongolia',
 'Taiwan',
 'Channel Islands',
 'Denmark',
 'Estonia',
 'Finland',
 'Iceland',
 'Ireland',
 'Latvia',
 'Lithuania',
 'Norway',
 'Sweden',
 'United Kingdom',
 'Austria',
 'Belgium',
 'France',
 'Germany',
 'Liechtenstein',
 'Luxembourg',
 'Monaco',
 'Netherlands',
 'Switzerland',
 'Belarus',
 'Bulgaria',
 'Czechia',
 'Hungary',
 'Moldova',
 'Poland',
 'Romania',
 'Russia',
 'Slovakia',
 'Ukraine',
 'Albania',
 'Andorra',
 'Bosnia-Herzegovina',
 'Croatia',
 'Greece',
 'Italy',
 'Kosovo',
 'Malta',
 'Montenegro',
 'North Macedonia',
 'Portugal',
 'San Marino',
 'Serbia',
 'Slovenia',
 'Spain',
 'Australia',
 'Federated States of Micronesia',
 'Fiji',
 'French Polynesia',
 'Guam',
 'Kiribati',
 'Marshall Islands',
 'Nauru',
 'New Caledonia',
 'New Zealand',
 'Palau',
 'Papua New Guinea',
 'Samoa',
 'Solomon Islands',
 'Tonga',
 'Tuvalu',
 'Vanuatu']

In [68]:
countries_in_politician_data = politician_data_with_scores.country.unique()
countries_in_politician_data.tolist()

['Chad',
 'Palestinian Territory',
 'Cambodia',
 'Czech Republic',
 'Canada',
 'Egypt',
 'Pakistan',
 'United States',
 'India',
 'Philippines',
 'Germany',
 'Malawi',
 'Nicaragua',
 'Hungary',
 'French Guiana',
 'Norway',
 'Iran',
 'Malta',
 'Spain',
 'Salvadoran',
 'Rhodesian',
 'Ghana',
 'Tanzania',
 'Congo, Dem. Rep. of',
 'Togo',
 'United Arab Emirates',
 'China',
 'Kenya',
 'Angola',
 'Slovenia',
 'Croatia',
 'Japan',
 'Russia',
 'South Africa',
 'Finland',
 'Greece',
 'United Kingdom',
 'Ireland',
 'Tunisia',
 'East Timorese',
 'South Sudan',
 'Botswana',
 'Nigeria',
 'Brazil',
 'Korea, South',
 'Chile',
 'San Marino',
 'Denmark',
 'Faroese',
 'France',
 'Albania',
 'Zimbabwe',
 'Cape Colony',
 'Benin',
 'Romania',
 'Sri Lanka',
 'Syria',
 'Uruguay',
 'Poland',
 'Uganda',
 'Colombia',
 'Moldova',
 'Tajikistan',
 'Bosnia-Herzegovina',
 'Jordan',
 'South Korean',
 'New Zealand',
 'Lithuania',
 'Indonesia',
 'Portugal',
 'Belgium',
 'Netherlands',
 'Bulgaria',
 'Monaco',
 'Morocco',
 'Lebanon',
 'Iceland',
 'Sierra Leone',
 'Yemen',
 'Kyrgyzstan',
 'Italy',
 'Mexico',
 'Sweden',
 'Turkey',
 'Madagascar',
 'Afghanistan',
 'Turkmenistan',
 'Grenada',
 'Armenia',
 'Somalia',
 'Slovakia',
 'Samoan',
 'Iraq',
 'Vietnam',
 'Peru',
 'Mali',
 'Nepal',
 'Tonga',
 'Myanmar',
 'Argentina',
 'Liberia',
 'Congo',
 'Montserratian',
 'Qatar',
 'Jamaica',
 'Fiji',
 'Guyana',
 'Solomon Islands',
 'Ecuador',
 'Liechtenstein',
 'Tuvalu',
 'Sao Tome and Principe',
 'Belarus',
 'Singapore',
 'Panama',
 'Guinea',
 'Pitcairn Islands',
 'Marshall Islands',
 'Australia',
 'Ethiopia',
 'Dominican Republic',
 'Malaysia',
 'Algeria',
 'Taiwan',
 'Saint Kitts and Nevis',
 'Maldives',
 'Sudan',
 'Bolivia',
 'Gabon',
 'Bangladesh',
 'Ukraine',
 'Macedonia',
 'Libya',
 'Kiribati',
 'Mongolia',
 'Vanuatu',
 'Abkhazia',
 'Cuba',
 'Montenegro',
 'Bhutan',
 'Mozambique',
 'Thailand',
 'Switzerland',
 'Austria',
 'Israel',
 'Azerbaijan',
 'Serbia',
 'Luxembourg',
 'Latvia',
 'Suriname',
 'Estonia',
 'Niger',
 'Niuean',
 'Costa Rica',
 'Ivorian',
 'Martinique',
 'Mauritania',
 'Carniolan',
 'Cameroon',
 'Lesotho',
 'Saint Lucian',
 'South African Republic',
 'Hondura',
 'Cyprus',
 'Paraguay',
 'Senegal',
 'Gambia',
 'Haiti',
 'Burkina Faso',
 'Papua New Guinea',
 'Guinea-Bissau',
 'Incan',
 'Nauru',
 'Uzbekistan',
 'Namibia',
 'Bahrain',
 'Chechen',
 'Antigua and Barbuda',
 'Eritrea',
 'Guatemala',
 'Rwanda',
 'Jersey',
 'Kazakhstan',
 'Kuwait',
 'Venezuela',
 'Burundi',
 'Guernsey',
 'Central African Republic',
 'Equatorial Guinea',
 'Korea, North',
 'Guadeloupe',
 'Kosovo',
 'Cape Verde',
 'Andorra',
 'Laos',
 'Comoros',
 'Saint Vincent and the Grenadines',
 'South Ossetian',
 'Cook Island',
 'Saudi Arabia',
 'Trinidad and Tobago',
 'Omani',
 'Federated States of Micronesia',
 'Dominica',
 'Tokelauan',
 'Bahamas',
 'Swaziland',
 'Dagestani',
 'Greenlandic',
 'Mauritius',
 'Barbados',
 'Belize',
 'Ossetian',
 'Djibouti',
 'Palauan',
 'Zambia',
 'Seychelles',
 'Somaliland',
 'Rojava']

In [65]:
# Check if they have the same number of countries
len(countries_in_population)== len(countries_in_politician_data)

False

In [70]:
pop_countries = sorted(countries_in_population.tolist())
pol_countries = sorted(countries_in_politician_data.tolist())

In [71]:
countries_no_match = [x for x in pop_countries+pol_countries if (x not in pop_countries) or (x not in pol_countries)]
countries_no_match

['Brunei',
 'Channel Islands',
 'China, Hong Kong SAR',
 'China, Macao SAR',
 'Congo, Dem. Rep.',
 "Cote d'Ivoire",
 'Curacao',
 'Czechia',
 'El Salvador',
 'French Polynesia',
 'Georgia',
 'Guam',
 'Honduras',
 'Mayotte',
 'New Caledonia',
 'North Macedonia',
 'Oman',
 'Palau',
 'Puerto Rico',
 'Reunion',
 'Saint Lucia',
 'Samoa',
 'St. Kitts-Nevis',
 'St. Vincent and the Grenadines',
 'Timor-Leste',
 'Western Sahara',
 'eSwatini',
 'Abkhazia',
 'Cape Colony',
 'Carniolan',
 'Chechen',
 'Congo, Dem. Rep. of',
 'Cook Island',
 'Czech Republic',
 'Dagestani',
 'East Timorese',
 'Faroese',
 'Greenlandic',
 'Guernsey',
 'Hondura',
 'Incan',
 'Ivorian',
 'Jersey',
 'Macedonia',
 'Montserratian',
 'Niuean',
 'Omani',
 'Ossetian',
 'Palauan',
 'Pitcairn Islands',
 'Rhodesian',
 'Rojava',
 'Saint Kitts and Nevis',
 'Saint Lucian',
 'Saint Vincent and the Grenadines',
 'Salvadoran',
 'Samoan',
 'Somaliland',
 'South African Republic',
 'South Korean',
 'South Ossetian',
 'Swaziland',
 'Tokelauan']

In [80]:
merged_scoring = pd.merge(politician_data_with_scores, population_data, on='country', how='outer')

merged_scoring.columns = ['article_name','country','revision_id','article_quality','population','region']
merged_scoring = merged_scoring[['article_name','country','region','revision_id','article_quality','population']]
merged_scoring.tail()

,article_name,country,region,revision_id,article_quality,population
46500,NaN,French Polynesia,OCEANIA,NaN,NaN,0.28
46501,NaN,Guam,OCEANIA,NaN,NaN,175.00
46502,NaN,New Caledonia,OCEANIA,NaN,NaN,295.00
46503,NaN,Palau,OCEANIA,NaN,NaN,18.00
46504,NaN,Samoa,OCEANIA,NaN,NaN,0.20

In [87]:
countries_no_match = merged_scoring[merged_scoring["article_name"].isna()| merged_scoring["region"].isna()]

countries_no_match

,article_name,country,region,revision_id,article_quality,population
488,Julius Gregr,Czech Republic,NaN,395521877.0,Stub,NaN
489,Edvard Gregr,Czech Republic,NaN,395526568.0,Stub,NaN
490,Miroslav Poche,Czech Republic,NaN,672862914.0,Stub,NaN
491,Vojtěch Mynář,Czech Republic,NaN,673008587.0,Stub,NaN
492,Jan Malypetr,Czech Republic,NaN,704424304.0,Stub,NaN
...,...,...,...,...,...,...
46500,NaN,French Polynesia,OCEANIA,NaN,NaN,0.28
46501,NaN,Guam,OCEANIA,NaN,NaN,175.00
46502,NaN,New Caledonia,OCEANIA,NaN,NaN,295.00
46503,NaN,Palau,OCEANIA,NaN,NaN,18.00
46504,NaN,Samoa,OCEANIA,NaN,NaN,0.20

In [91]:
politicians_by_country = merged_scoring[~merged_scoring["article_name"].isna()& ~merged_scoring["region"].isna()]
politicians_by_country

,article_name,country,region,revision_id,article_quality,population
0,Bir I of Kanem,Chad,AFRICA,355319463.0,Stub,16.877
1,Abdullah II of Kanem,Chad,AFRICA,498683267.0,Stub,16.877
2,Salmama II of Kanem,Chad,AFRICA,565745353.0,Stub,16.877
3,Kuri I of Kanem,Chad,AFRICA,565745365.0,Stub,16.877
4,Mohammed I of Kanem,Chad,AFRICA,565745375.0,Stub,16.877
...,...,...,...,...,...,...
46467,Rita Sinon,Seychelles,AFRICA,800323154.0,Stub,98.000
46468,Sylvette Frichot,Seychelles,AFRICA,800323798.0,Stub,98.000
46469,May De Silva,Seychelles,AFRICA,800969960.0,Start,98.000
46470,Vincent Meriton,Seychelles,AFRICA,802051093.0,Stub,98.000
46471,Marie-Louise Potter,Seychelles,AFRICA,804209620.0,Stub,98.000

**Store Data into csv Files in Folder data_clean**

In [92]:
countries_no_match.to_csv('data_clean/countries_no_match.csv', index = False)
politicians_by_country.to_csv('data_clean/politicians_by_country.csv', index = False)

## Step 3⃣ | Analysis

Your analysis will consist of calculating the proportion (as a percentage) of articles-per-population (we can also call it `coverage`) and high-quality articles (we can also call it `relative-quality`)for **each country** and for **each region**. By `"high quality"` arcticle we mean an article that ORES predicted as `FA` (featured article) or `GA` (good article).

**Examples:**

* if a country has a population of `10,000` people, and you found `10` articles about politicians from that country, then the percentage of `articles-per-population` would be `0.1%`.
* if a country has `10` articles about politicians, and `2` of them are `FA` or `GA` class articles, then the percentage of `high-quality-articles` would be `20%`.

### Results format

The results from this analysis are six `data tables`. Embed these tables in the Jupyter notebook. You do not need to graph or otherwise visualize the data for this assignment. The tables will show:

1. **Top 10 countries by coverage**<br>10 highest-ranked countries in terms of number of politician articles as a proportion of country population
1. **Bottom 10 countries by coverage**<br>10 lowest-ranked countries in terms of number of politician articles as a proportion of country population
1. **Top 10 countries by relative quality**<br>10 highest-ranked countries in terms of the relative proportion of politician articles that are of GA and FA-quality
1. **Bottom 10 countries by relative quality**<br>10 lowest-ranked countries in terms of the relative proportion of politician articles that are of GA and FA-quality
1. **Regions by coverage**<br>Ranking of regions (in descending order) in terms of the total count of politician articles from countries in each region as a proportion of total regional population
1. **Regions by coverage**<br>Ranking of regions (in descending order) in terms of the relative proportion of politician articles from countries in each region that are of GA and FA-quality

**❗Hint:** You will find what country belongs to which region (e.g. `ASIA`) also in `export_2019.csv`. You need to calculate the total poulation per region. For that you could use `groupby` and also check out `apply`.

**Additional Table for Information on National/Regional Population**

In [107]:
population = politicians_by_country[["country","population","region"]]
population = population.drop_duplicates()
population.sort_values(by=["country"])

           country  population                           region
31461  Afghanistan      38.928                             ASIA
20594      Albania       2.838                           EUROPE
38252      Algeria      44.357                           AFRICA
45661      Andorra      82.000                           EUROPE
12140       Angola      32.522                           AFRICA
...            ...         ...                              ...
45167    Venezuela      28.645  LATIN AMERICA AND THE CARIBBEAN
32866      Vietnam      96.209                             ASIA
28418        Yemen      29.826                             ASIA
46426       Zambia      18.384                           AFRICA
21051     Zimbabwe      14.863                           AFRICA

[183 rows x 3 columns]

In [95]:
regional_population = population_data.groupby(['region']).sum()
regional_population

                                 population
region
AFRICA                             4718.528
ASIA                               6320.228
EUROPE                             3252.940
LATIN AMERICA AND THE CARIBBEAN    4947.246
NORTHERN AMERICA                    368.068
OCEANIA                            2858.181

In [112]:
population_table = pd.merge(population, regional_population, on='region', how='outer')
population_table=population_table.rename(columns={"population_x":"national_population","population_y":"regional_population"})

**Table 1: Top 10 countries by coverage**

In [113]:
papers_per_countries = politicians_by_country[["article_name","country"]]
number_of_articles_per_country = papers_per_countries.groupby(["country"]).count()
number_of_articles_per_country
number_of_articles_per_country.sort_values(by=['country'])
number_of_articles_per_country=number_of_articles_per_country.rename(columns={"article_name": "number of articles"})

In [165]:
articles_count = pd.merge(number_of_articles_per_country, population_table, on='country', how='outer')
articles_count
articles_count['articles-per-population'] = articles_count['number of articles']/articles_count['national_population']
articles_count
Top_10_countries_by_coverage= articles_count.nlargest(10, 'articles-per-population')
Top_10_countries_by_coverage = Top_10_countries_by_coverage[["country","articles-per-population"]]
Top_10_countries_by_coverage["Rank"]=[i for i in range(1,11)]
Top_10_countries_by_coverage = Top_10_countries_by_coverage[["Rank","country","articles-per-population"]]
Top_10_countries_by_coverage

     Rank                country  articles-per-population
169     1                 Tuvalu              5400.000000
1       2                Albania               161.028894
120     3            New Zealand               157.008221
124     4                 Norway               121.774643
109     5                Moldova               119.660537
50      6                Estonia               111.194591
54      7                Finland               102.911919
139     8  Sao Tome and Principe               100.000000
96      9              Lithuania                87.329993
175    10                Uruguay                80.713679

**Table 2: Bottom 10 Countries by Coverage**

In [166]:
Bottom_10_countries_by_coverage= articles_count.nsmallest(10, 'articles-per-population')
Bottom_10_countries_by_coverage
Bottom_10_countries_by_coverage["Rank"]=[i for i in range(1,11)]
Bottom_10_countries_by_coverage = Bottom_10_countries_by_coverage[["Rank","country","articles-per-population"]]
Bottom_10_countries_by_coverage

     Rank        country  articles-per-population
67      1         Guyana                 0.025413
43      2       Djibouti                 0.037449
17      3         Belize                 0.038186
14      4       Barbados                 0.048780
11      5        Bahamas                 0.050891
30      6     Cape Verde                 0.064748
155     7       Suriname                 0.066116
56      8  French Guiana                 0.091837
105     9     Martinique                 0.095506
112    10     Montenegro                 0.115756

**Table 3: Top 10 Countries by Relative Quality**

In [129]:
goodquality = ["GA","FA"]
quality_table=politicians_by_country.loc[politicians_by_country["article_quality"].isin(goodquality)]
quality_table

,article_name,country,region,revision_id,article_quality,population
82,Hissène Habré,Chad,AFRICA,803166806.0,GA,16.877
199,Abdullah Rimawi,Palestinian Territory,ASIA,788953220.0,GA,5.008
204,Khalida Jarrar,Palestinian Territory,ASIA,791881528.0,GA,5.008
218,Ahmed Yassin,Palestinian Territory,ASIA,797122322.0,GA,5.008
225,Marwan Barghouti,Palestinian Territory,ASIA,798913975.0,GA,5.008
...,...,...,...,...,...,...
46074,Mohammad bin Salman,Saudi Arabia,ASIA,807463170.0,GA,35.041
46075,Fahd of Saudi Arabia,Saudi Arabia,ASIA,807483153.0,GA,35.041
46103,Jack Warner (football executive),Trinidad and Tobago,LATIN AMERICA AND THE CARIBBEAN,805253461.0,GA,1.369
46174,Eugenia Charles,Dominica,LATIN AMERICA AND THE CARIBBEAN,802175384.0,GA,72.000
46283,President of Mauritius,Mauritius,AFRICA,784515275.0,GA,1.265

In [134]:
qualified_papers_per_country = quality_table[["article_name","country"]]
number_of_good_articles_per_country = qualified_papers_per_country.groupby(["country"]).count()
number_of_good_articles_per_country
number_of_good_articles_per_country.sort_values(by=['country'])
number_of_good_articles_per_country=number_of_good_articles_per_country.rename(columns={"article_name": "high quality articles"})
number_of_good_articles_per_country

             high quality articles
country
Afghanistan                     13
Albania                          3
Algeria                          2
Argentina                       16
Armenia                          5
...                            ...
Vanuatu                          3
Venezuela                        3
Vietnam                         13
Yemen                            3
Zimbabwe                         2

[146 rows x 1 columns]

In [172]:
high_quality_articles_count = pd.merge(number_of_good_articles_per_country, population_table, on='country', how='outer')
#high_quality_articles_count
high_quality_articles_count['relative-quality'] = high_quality_articles_count['high quality articles']/articles_count['national_population']
Top_10_countries_by_relative_quality= high_quality_articles_count.nlargest(10, 'relative-quality')
Top_10_countries_by_relative_quality = Top_10_countries_by_relative_quality[["country","relative-quality"]]
Top_10_countries_by_relative_quality["Rank"]=[i for i in range(1,11)]
Top_10_countries_by_relative_quality = Top_10_countries_by_relative_quality[["Rank","country","relative-quality"]]
Top_10_countries_by_relative_quality

     Rank         country  relative-quality
107     1          Russia         26.086957
36      2           Egypt         11.494253
22      3          Canada         10.358222
139     4         Uruguay          9.523810
106     5         Romania          9.032258
57      6          Israel          8.964590
50      7         Hungary          6.010518
96      8        Pakistan          5.368647
137     9  United Kingdom          4.323657
109    10    Saudi Arabia          4.243281

**Table 4: Bottom 10 Countries by Relative Quality**

In [173]:
Bottom_10_countries_by_relative_quality= high_quality_articles_count.nsmallest(10, 'relative-quality')
Bottom_10_countries_by_relative_quality=Bottom_10_countries_by_relative_quality[["country","relative-quality"]]
Bottom_10_countries_by_relative_quality["Rank"]=[i for i in range(1,11)]
Bottom_10_countries_by_relative_quality = Bottom_10_countries_by_relative_quality[["Rank","country","relative-quality"]]
Bottom_10_countries_by_relative_quality

     Rank             country  relative-quality
34      1  Dominican Republic          0.000713
71      2             Liberia          0.001428
101     3                Peru          0.001848
112     4        Sierra Leone          0.003215
30      5                Cuba          0.003597
67      6          Kyrgyzstan          0.003812
13      7             Bolivia          0.005889
17      8            Bulgaria          0.007160
108     9              Rwanda          0.007825
83     10           Mauritius          0.008000

**Table 5: Regions By Coverage (total count)**

In [149]:
number_of_articles_per_country
articles_count_by_region = pd.merge(number_of_articles_per_country, population_table, on='country', how='outer')
articles_per_region = articles_count_by_region[["number of articles","region"]].groupby("region").count()
articles_per_region = pd.merge(articles_per_region,regional_population, on="region", how="outer")
articles_per_region["coverage"] = articles_per_region["number of articles"] / articles_per_region["population"] 
# sort in descending order
articles_per_region=articles_per_region.sort_values(by=["coverage"],ascending = False)
articles_per_region

                                 number of articles  population  coverage
region
AFRICA                                           51    4718.528  0.010808
ASIA                                             45    6320.228  0.007120
EUROPE                                           42    3252.940  0.012911
LATIN AMERICA AND THE CARIBBEAN                  31    4947.246  0.006266
NORTHERN AMERICA                                  2     368.068  0.005434
OCEANIA                                          12    2858.181  0.004198

**Table 6: Regions By Coverage (relative quality)**

In [153]:
number_of_good_articles_per_country
relative_quality_by_region = pd.merge(number_of_good_articles_per_country, population_table, on='country', how='outer')
relative_quality_by_region = relative_quality_by_region[["high quality articles","region"]].groupby("region").count()
relative_quality_by_region = pd.merge(relative_quality_by_region,regional_population, on="region", how="outer")
relative_quality_by_region["relative quality"] = relative_quality_by_region["high quality articles"] / articles_per_region["population"] 
relative_quality_by_region

,high quality articles,population,relative quality
region,,,
AFRICA,39,4718.528,0.008265
ASIA,42,6320.228,0.006645
EUROPE,35,3252.940,0.010759
LATIN AMERICA AND THE CARIBBEAN,22,4947.246,0.004447
NORTHERN AMERICA,2,368.068,0.005434
OCEANIA,6,2858.181,0.002099

**Store Result Tables**

In [155]:
try:
    os.mkdir("data_result")
    print('data_result directory created.')
except:
    pass

In [174]:
countries_no_match.to_csv('data_result/Top_10_countries_by_coverage.csv', index = False)
countries_no_match.to_csv('data_result/Bottom_10_countries_by_coverage.csv', index = False)
countries_no_match.to_csv('data_result/Top_10_countries_by_relative_quality.csv', index = False)
countries_no_match.to_csv('data_result/Bottom_10_countries_by_relative_quality.csv', index = False)
countries_no_match.to_csv('data_result/articles_per_region.csv', index = False)
countries_no_match.to_csv('data_result/relative_quality_by_region.csv', index = False)

***

#### Credits

This exercise is slighty adapted from the course [Human Centered Data Science (Fall 2019)](https://wiki.communitydata.science/Human_Centered_Data_Science_(Fall_2019)) of [Univeristy of Washington](https://www.washington.edu/datasciencemasters/) by [Jonathan T. Morgan](https://wiki.communitydata.science/User:Jtmorgan).

Same as the original inventors, we release the notebooks under the [Creative Commons Attribution license (CC BY 4.0)](https://creativecommons.org/licenses/by/4.0/).